.Cart {
  max-height: calc(100vh - 64px);
  max-width: 960px;
  width: calc(100vw - 64px);
  overflow-y: auto;
  border-radius: 10px;
  background: #fff;
}

.Cart-body {
  margin-top: 71px;
}

.Cart-footer {
  height: 130px;
  padding-right: 120px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

.Cart .total-text {
  margin-left: auto;
}

.Cart .total-value {
  padding-left: 20px;
  min-width: 100px;
}

.Cart-isEmpty {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
