.modal-wrapper {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  padding-left: calc(100vw - 100%);
}

.modal {
  max-height: calc(100% - 64px);
  width: calc(100% - 64px);
  overflow-y: auto;
  max-width: calc(1024px - 64px);
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.modal .body {
  margin-top: 71px;
}

.modal .footer {
  height: 130px;
  padding-right: 120px;
  display: flex;
  justify-content: flex-end;
}

.Cart-total {
  margin-left: auto;
  text-align: right;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Cart-total-value {
  margin-left: 53px;
}

body.scroll-lock {
  overflow: hidden;
}
