.Cart {
  max-height: calc(100vh - 64px);
  width: 960px;
  overflow-y: auto;
  border-radius: 10px;
  background: #fff;
}

.Cart-body {
  margin-top: 71px;
}

.Cart-footer {
  height: 130px;
  padding-right: 120px;
  display: flex;
  justify-content: flex-end;
}

.Cart-total {
  margin-left: auto;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Cart-total-value {
  margin-left: 53px;
}
