.Comment {
  padding: 15px 0;
}
.Comment-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.Comment-name_currentUser {
  color: #666666;
}

.Comment-date {
  margin-left: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.Comment-text {
  word-wrap: break-word;
  margin: 10px 0;
  font-size: 14px;
  line-height: 16px;
}

.Comment-reply {
  margin: 0;
}

.Comment-reply-link,
.Comment-cancel-link {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #0087e9;
}

.Comment-cancel-link{
  margin-left: 10px;
}

.Comment-reply-link:link,
.Comment-reply-link:visited,
.Comment-cancel-link:link,
.Comment-cancel-link:visited {
  color: #0087e9;
  text-decoration: none;
}

.Comment-reply-link:hover {
  text-decoration: underline;
}
